{% extends 'base.html' %}

{% block title %}Shop - Tuta Store{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-4 py-2 px-4">Shop</h1>

  <div class="flex mb-4">
    <label for="sort" class="font-semibold mr-2 px-4">Sort by:</label>
    <select id="sort" name="sort" class="border border-gray-300 rounded px-4 py-2">
      <option value="">None</option>
      <option value="bestselling">Best Selling</option>
      <option value="pricelowtohigh">Price (Low to High)</option>
      <option value="pricehightolow">Price (High to Low)</option>
      <option value="featured">Featured</option>
    </select>
    <button onclick="sortProducts()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Sort</button>
  </div>
  

  
  {% if products %}

  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {% for product in products %}
    <div class="bg-white rounded-lg shadow-md p-4">
      <a href="{{ url_for('product_details', product_id=product.id) }}">
        <img
          src="{{ product.image }}"
          alt="Product Image"
          class="w-full h-40 object-cover mb-2"
        />
      </a>
      <h2 class="text-lg font-semibold">{{ product.name }}</h2>
      <p class="text-gray-600">Price: UGX{{ product.price }}</p>
      <p class="text-gray-600">
        Categories: {% for category in product.categories %}
        <span class="mr-2">{{ category }}</span>
        {% endfor %}
      </p>
      <p class="text-gray-600">Brand: {{ product.brand.name }}</p>
      <form action="/add-to-cart/{{ product.id }}" method="GET">
        <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-blue-600 transition duration-300"
        >
          Add to Cart
        </button>
      </form>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <p class="px-4">No products available.</p>
  {% endif %}
</div>

<script>
  function sortProducts() {
    var sortOption = document.getElementById('sort').value;
    var url = '/shop';
    if (sortOption) {
      url += '?sort=' + sortOption;
    }
    window.location.href = url;
  }
</script>
{% endblock %}
